<h1>Pseudocode</h1>

<h2>Items that have not been completed</h2>

<ul>
    {{#each tasks}}
    {{#unless completed}}
    {{> PC/PC-block completed=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Items that have been completed</h2>

<ul>
    {{#each tasks}}
    {{#if completed}}
    {{> PC/PC-block completed=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Task</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Task Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="completed">completed?</label><br>
        <input type="radio" name="completed" value="0"> completed<br>
        <input type="radio" name="completed" value="1"> not completed
    </div>

    <button type="submit">Add Task</button>
</form>

<script>
    $(function () {
        $(".change-completed").on("click", function (event) {
            var id = $(this).data("id");
            var newCompleted = $(this).data("newcompleted");

            var newCompletedState = {
                completed: newCompleted
            };

            // Send the PUT request.
            $.ajax("/api/tasks/" + id, {
                type: "PUT",
                data: newCompletedState
            }).then(
                function () {
                    console.log("changed completed to", newCompleted);
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });

        $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            console.log("your here!");
            event.preventDefault();

            var newTask = {
                name: $("#ca").val().trim(),
                completed: $("[name=completed]:checked").val().trim()
            };

            // Send the POST request.
            $.ajax("/api/tasks", {
                type: "POST",
                data: newTask
            }).then(
                function () {
                    console.log("created new task");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });

        $(".delete-code").on("click", function (event) {
            var id = $(this).data("id");

            // Send the DELETE request.
            $.ajax("/api/tasks/" + id, {
                type: "DELETE"
            }).then(
                function () {
                    console.log("deleted task", id);
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
    });
</script>